<ion-view hide-back-button="true">
    <ion-nav-title>
        Congrats
    </ion-nav-title>
    <ion-content class="padding">
        <div class="card" ng-repeat="idx in liftRange">
            <h2 class="item item-divider">{{ finishedWorkout.lifts[idx].type }}</h2>

            <p class="item item-text-wrap">
                {{ finishedWorkout.lifts[idx].lastWeight }}lbs. Results: {{ finishedWorkout.log[idx].join(', ') }}
            </p>

            <p ng-if="finishedWorkout.lifts[idx].isSuccessful" class="item item-text-wrap">
                Successful workout. +5 lbs on next attempt
            </p>
        </div>

        <button class="button button-block" ui-sref="app.todays_lifts">
            View Next Lifts
        </button>
    </ion-content>
</ion-view>
