<ion-view hide-back-button="true" cache-view="false">
  <ion-nav-title>
    Today's Lifts
  </ion-nav-title>
  <ion-content class="padding">
    <md-card ng-repeat="lift in lifts">
      <h1>{{ lift.type }}</h1>
      <p>
        <span ng-if="lift.weight">{{ lift.weight }}lbs</span>
        <span>{{ lift.reps }} reps x {{ lift.sets }} sets</span>
      </p>
    </md-card>

    <div layout="row" layout-align="center center">
      <md-button class="md-raised md-primary" ui-sref="app.log_set">
        Begin Lifts
      </md-button>
    </div>

  </ion-content>
</ion-view>