<ion-view hide-back-button="true" cache-view="false">
    <ion-nav-title>
        Today's Lifts
    </ion-nav-title>
    <ion-content class="padding">
        <div class="card" ng-repeat="lift in lifts">
            <h1 class="item item-divider">{{ lift.type }}</h1>

            <p class="item item-text-wrap">
                <span ng-if="lift.weight">{{ lift.weight }}lbs</span>
                <span>{{ lift.reps }} reps x {{ lift.sets }} sets</span>
            </p>
        </div>

        <button class="button button-block" ui-sref="app.log_set">
            Begin Lifts
        </button>

    </ion-content>
</ion-view>