<ion-view hide-back-button="true" cache-view="false">
    <ion-nav-title>
        Log Your {{ currentLift.type }}
    </ion-nav-title>
    <ion-content class="padding">
        <div ng-if="!currentLift.weight">
            <label class="item item-input">
                <input type="number" name="work-weight" ng-model="workWeight" placeholder="Enter your work weight"
                       required>
            </label>
            <button class="button button-block" ng-click="update(workWeight)">Submit</button>
        </div>

        <div ng-if="currentLift.weight">
            <div class="card">
                <p class="item item-divider">
                    {{ currentLift.weight }}lbs {{ currentLift.reps }}x{{ currentLift.sets }}
                </p>

                <p class="item item-text-wrap">Plates per side: {{ currentLift.platesPerSide }}</p>
            </div>

            <div class="card">
                <md-radio-group class="item" ng-model="loggedReps" layout="row" layout-align="center center">
                    <md-radio-button ng-repeat="i in repRange" ng-value="i">
                        <ng-pluralize count="i"
                                      when="{
                                '1': '1 rep',
                                'other': '{} reps'
                              }">
                    </md-radio-button>
                </md-radio-group>
            </div>

            <button class="button button-block" ng-click="logSet(loggedReps)">
                Finish Set
            </button>
        </div>

    </ion-content>
</ion-view>
