<ion-view hide-back-button="true" cache-view="false">
    <ion-nav-title>
        Log Your {{ currentLift.type }}
    </ion-nav-title>
    <ion-content class="padding">
        <div ng-if="!currentLift.weight">
            <style type="text/css">
                input.ng-invalid.ng-touched {
                    background-color: #FA787E;
                }

                input.ng-valid.ng-touched {
                    background-color: #78FA89;
                }
            </style>
            <label class="item item-input">
                <input type="number" name="work-weight" ng-model="workWeight" placeholder="Enter your work weight"
                       required>
            </label>
            <button class="button button-full button-positive" ng-click="update(workWeight)">Submit</button>
        </div>

        <div ng-if="currentLift.weight">
            <md-card>
                <p>{{ currentLift.weight }}lbs {{ currentLift.reps }}x{{ currentLift.sets }}</p>
                <p>Plates per side: {{ currentLift.platesPerSide }}</p>
            </md-card>

            <md-card>
                <md-radio-group ng-model="data.group" layout="row" layout-align="center center">
                    <md-radio-button ng-repeat="i in repRange" ng-value="i">
                        <ng-pluralize count="i"
                                      when="{
                                '1': '1 rep',
                                'other': '{} reps'
                              }">
                    </md-radio-button>
                </md-radio-group>

                <div layout="row" layout-align="center center">
                    <md-button class="md-raised md-primary" ui-sref="tab.rest">
                        Finish Set
                    </md-button>
                </div>
            </md-card>
        </div>

    </ion-content>
</ion-view>
